
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.region-autocomplite {
  padding: 0;
}

.region-autocomplite__list {
  position: absolute;
  top: 38px;
  padding: 0;
  width: 100%;
  z-index: 9;
}
